{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}

    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        <div class="posts-group">
            <ul class="posts-list">
                {{ range .Pages }}
                    <li class="post-item">
                        <a href="{{ .Permalink }}" class="post-item-inner">
                            <span class="post-title">{{ .Title }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
