{{ define "main" }}
    <main class="post">

        <div class="post-info">
            {{ if .IsTranslated }}
                {{ i18n "postAvailable" }}
                {{ range .Translations }}
                    <a href="{{ .Permalink }}"><span class="flag fi fi-{{ index $.Site.Data.langFlags (.Lang) }}"></span></a>
                {{ end }}
            {{ end }}
        </div>

        <article>
            <h2 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>

            {{ if .Params.Cover }}
                <figure class="post-cover">
                    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}"/>

                    {{ if .Params.CoverCaption }}
                        <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}

            {{ if .Params.toc }}
                <hr/>
                <aside id="toc">
                    <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr/>
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>

        <hr/>

        {{ partial "post-metadata.html" . }}
        {{ partial "sharing-buttons.html" . }}
        {{ partial "comments.html" . }}

    </main>
{{ end }}
