{{ define "main" }}
    <main class="post">
        <div class="post-info">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 6 12 12 16 14"></polyline>
                </svg>
                {{ i18n "readingTime" .Page.ReadingTime }}

                {{ if .IsTranslated }} | {{ i18n "postAvailable" }}
                    {{ range .Translations }}
                        <a href="{{ .Permalink }}"><span
                            class="flag fi fi-{{ index $.Site.Data.langFlags (.Lang) }}"></span></a>
                    {{ end }}
                {{ end }}
            </p>
        </div>

        <article>
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>

            {{ with .Params.Description }}
                <div class="post-excerpt">{{ . }}</div>
            {{ end }}

            {{ if .Params.Cover }}
                <figure class="post-cover">
                    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}"/>

                    {{ if .Params.CoverCaption }}
                        <figcaption
                            class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}

            {{- if .Params.toc }}
                <hr/>
                <aside id="toc">
                    <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr/>
            {{- end }}

            {{ if .Params.Audio }}
                <div class="post-audio">
                    <audio controls>
                        <source src="{{ .Params.Audio }}">
                    </audio>
                </div>
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>

        <hr/>

        {{ partial "post-metadata.html" . }}
        {{ partial "sharing-buttons.html" . }}
        {{ partial "pagination-single.html" . }}
        {{ partial "comments.html" . }}
    </main>
{{ end }}
