{{ if .Site.Config.Services.Disqus.Shortname }}
    {{ if not (eq .Params.Comments false) }}
        <div id="comments">
            {{ template "_internal/disqus.html" . }}
        </div>
    {{ end }}
{{ end }}

{{ if .Site.Params.Commento.Url }}
    <script defer src={{ .Site.Params.Commento.Url }}></script>
    <div id="commento"></div>
{{ end }}
