<div class="post-info">
    {{ partial "tags.html" .Params.tags }}
    {{ partial "categories.html" . }}

    {{ if not (eq .Params.Counts false) }}
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
            </svg>
            {{ i18n "wordCount" .Page.WordCount }}
        </p>
    {{ end }}

    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>

        {{ if .Site.Params.dateformNumTime }}
            {{ dateFormat .Site.Params.dateformNumTime .Date.Local }}
        {{ else }}
            {{ dateFormat "2006-01-02 15:04" .Date.Local }}
        {{ end }}

        {{ if .Lastmod }}
            {{ if not (eq .Lastmod .Date )}}
                {{ if .Site.Params.dateformNumTime }}
                    ({{ i18n "lastModified" }}: {{ dateFormat .Site.Params.dateformNumTime .Lastmod.Local }})
                {{ else }}
                    ({{ i18n "lastModified" }}: {{ dateFormat "2006-01-02 15:04" .Lastmod.Local }})
                {{ end }}
            {{ end }}
        {{ end }}
    </p>

    {{- if .GitInfo }}
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit">
                <circle cx="12" cy="12" r="4"></circle>
                <line x1="1.05" y1="12" x2="7" y2="12"></line>
                <line x1="17.01" y1="12" x2="22.96" y2="12"></line>
            </svg>

            <a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
            @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}

            <a href="{{ .Site.Params.gitlabIssueUrl }}?issue[title]={{ htmlEscape "Bug Report" }}&issuable_template=bug-report&issue[description]={{ with .File }}{{ htmlEscape (printf "[%s](content/%s)" .Path .Path) }}{{ end }}">
                Report this!
            </a>
        </p>
    {{- end }}
</div>
