{{ define "main" }}
    <main class="post">
        <article>
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>

            <div class="post-content">
                {{ .Content }}
            </div>
            <div class="post-content">
                <p>source: <a href="{{ .Params.Source }}" rel="noopener noreferrer">{{ .Params.Source }}</a></p>
            </div>
        </article>

        <hr/>

        {{ partial "post-metadata.html" . }}
        {{ partial "pagination-single.html" . }}
    </main>
{{ end }}
