{{ define "main" }}
    <main class="post">
        <article>
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>

            {{ if .Params.Cover }}
                <figure class="post-cover">
                    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}"/>

                    {{ if .Params.CoverCaption }}
                        <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>

            <div class="post-info">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon">
                        <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
                        <line x1="7" y1="7" x2="7" y2="7"></line>
                    </svg>
                    <a href="{{ ref . "pages/operators.md" }}">List of Operators</a>
                </p>
            </div>
        </article>

        <hr/>

        {{ partial "post-metadata.html" . }}
        {{ partial "sharing-buttons.html" . }}
        {{ partial "pagination-single.html" . }}
        {{ partial "comments.html" . }}
    </main>
{{ end }}
